.about {
  position: relative;
  margin-bottom: rem(140);

  &__title {
    margin: 0 auto;
    margin-bottom: rem(80);
    width: 100%;
    max-width: 815px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;

    @include desktop {
      width: 70%;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile-l {
      margin-bottom: rem(40);
      font-size: 30px;
    }

    @include mobile-s {
      font-size: 26px;
    }
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 2;
      margin: 0 auto;
      border-top: 1px solid var(--color-black);
      width: calc((925 / 1600) * 100vw);
      opacity: 0.4;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 2;
      border-top: 1px solid var(--color-black);
      width: 100%;
      opacity: 0.4;
    }

    @include tablet {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__item {
    position: relative;
    list-style-image: url("../img/svg/dot.svg");
    padding: rem(35) 0;

    p {
      margin: 0;
      padding-left: rem(5);
      width: 100%;
      max-width: 370px;
    }

    &:first-child::before {
      content: "";
      position: absolute;
      left: 126%;
      bottom: 0;
      z-index: 2;
      border-left: 1px solid var(--color-black);
      height: 100%;
      opacity: 0.4;

      @include desktop {
        left: 115%;
      }

      @include tablet {
        content: none;
      }
    }

    @include tablet {
      padding: rem(20) 0;
    }

    @include mobile-l {
      list-style-image: none;
    }
  }

  &__box {
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0 15px 20px rgba(0 0 0 / 5%));

    &--first {
      left: 8%;
      top: -10%;

      @include desktop-lg {
        left: 1%;
      }
    }

    &--second {
      right: 7%;
      top: 25%;

      @include desktop-lg {
        right: 1%;
      }
    }

    @include tablet {
      display: none;
    }
  }

  @include desktop-lg {
    margin-bottom: rem(80);
  }

  @include tablet {
    margin-bottom: rem(40);
  }
}
