.header {
  position: fixed;
  top: 0;
  z-index: 669;
  padding: 20px 0;
  width: 100%;
  background-color: var(--color-white);

  &--active {
    box-shadow: 0 5px 20px rgba(51 51 51 / 15%);
  }

  @include mobile-l {
    padding: 15px 0;
  }
}

.nav {
  @include flex-all-sb;

  &__list {
    @include flex-all-sb;

    @include mobile-l {
      --header-height: 75px;

      position: absolute;
      right: 0;
      top: var(--header-height);
      display: block;
      overflow-y: auto;
      padding-top: rem(30);
      width: 50%;
      height: calc(100vh - var(--header-height));
      text-align: center;
      background: var(--color-white);
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
    }

    &--active {
      transform: translateX(0);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: rem(40);

      @include desktop {
        margin-right: rem(20);
      }

      @include tablet {
        margin-right: rem(10);
      }

      @include mobile-l {
        margin: 0;
        margin-bottom: rem(20);
      }
    }
  }

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: var(--color-black);
    transition: all 0.3s linear;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: currentcolor;
      transform: scale(0);
      transform-origin: center;
      transition: transform 0.3s linear;
    }

    &:focus {
      outline: 2px solid var(--color-brown);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-brown);

      &::before {
        transform: scale(1);
      }
    }

    &:active {
      color: var(--color-active);
    }

    @include tablet {
      font-size: 15px;
    }

    @include mobile-l {
      font-size: 20px;
    }
  }
}
