/* stylelint-disable-next-line at-rule-blacklist */
@mixin h1 {
  @include adaptive_size("font-size", 56, 30);

  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

@mixin h2 {
  @include adaptive_size("font-size", 46, 24);

  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}

