.page {
  height: 100%;

  &__body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

.site-container {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
}

.main {
  position: relative;
  flex-grow: 1;
}

.logo {
  display: flex;
}

.btn {
  padding: 20px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-brown);
  transition: all 0.3s linear;

  &:focus {
    outline: 2px solid var(--color-yellow);
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--color-active);
  }

  &:active {
    color: var(--color-active);
  }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  transition: all 0.5s linear;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.title {
  @include h2;

  margin-bottom: rem(80);

  @include tablet {
    margin-bottom: rem(50);
  }

  @include mobile {
    margin-bottom: rem(30);
  }
}

section {
  margin-bottom: rem(140);

  @include desktop-lg {
    margin-bottom: rem(80);
  }

  @include tablet {
    margin-bottom: rem(40);
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.burger {
  display: none;

  @include burger;

  @include mobile-l {
    display: block;
  }
}

.icon {
  width: 22px;
  height: 22px;
  color: var(--color-brown);
  fill: currentcolor;
  object-fit: cover;
  transition: color 0.3s ease-in;

  &:hover {
    color: var(--color-red);
  }

  &--facebook {
    width: 10px;
    height: 22px;

    &:hover {
      color: var(--color-blue);
    }
  }

  &--phone {
    margin-right: rem(5);
    width: 20px;
    height: 20px;
  }
}

.pagination__icon {
  width: 25px;
  height: 25px;
}

.social {
  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: var(--color-green);
    fill: currentcolor;
    object-fit: cover;
    transition: color 0.3s ease-in;

    &--phone {
      display: flex;
      align-items: center;
      color: var(--color-green);
      fill: currentcolor;
      transition: color 0.3s ease-in;

      svg {
        margin-right: 5px;
        width: 22px;
        height: 22px;
        fill: currentColor;
      }

      &:hover {
        color: var(--color-brown);
      }

      @include mobile-s {
        font-size: 0;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: rem(15);
    }

    &--phone {
      margin-left: rem(75);

      @include desktop {
        margin-left: rem(20);
      }

      @include desktop {
        margin-left: rem(10);
      }

      @include mobile-s {
        margin: 0;
      }
    }
  }
}

.dis-scroll {
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */

  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}
